@page
@model MeuAppSeguranca.Pages.IndexModel

<form method="post">
    <label for="target">URL ou IP para testar:</label><br />
    <input type="text" id="target" name="Target" value="@Model.Target" placeholder="Digite URL ou IP" style="width: 100%; max-width: 400px;" />
    <br /><br />
    <button type="submit">Executar testes</button>
</form>

@if (Model.HasResult)
{
    <fieldset>
        <legend>Teste Básico</legend>
        <div class="result-box">@Model.BasicResult</div>
    </fieldset>
    <fieldset>
        <legend>Teste Médio</legend>
        <div class="result-box">@Model.MediumResult</div>
    </fieldset>
    <fieldset>
        <legend>Teste Avançado</legend>
        <div class="result-box">@Model.AdvancedResult</div>
    </fieldset>

    <h3>Nível de Segurança: <span style="color:@Model.SecurityLevelColor;">@Model.SecurityLevel</span></h3>
    <h4>Nível de Ameaça: @Model.ThreatLevel</h4>
}
